.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.RTX4080{
  height: 40vmin;
  pointer-events: none;
}

.x870{
  height: 45vmin;
  pointer-events: none;
}

.ryzen9700x{
  height: 25vmin;
  pointer-events: none;
}

.cerdito {
  height: 25vmin;
  pointer-events: none;
}

div#root{
  background-color: #282c34;
}

.pages{ 
  font-size: 20px;
  line-height: 1.6;
  width: 70%; 
  margin: 0 auto;  
  padding: 20px; 
}
.pages img{
  align-items: end;
}

.pages h1, h2{
  color: crimson;
  font-size: 50px;
}

.menu{
  font-size: calc(10px + 2vmin);
  font-weight:lighter;
  background-color: #000000;
}
.menu div{
  background-color: #000000;
}

div.menu{
  display: flex;
  flex-direction: row;
  background-color: #000000;
  justify-content:center;
  width: 70vw;
}

h1{
  padding: 0%;
  margin-top: 0%;
  
}
div{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:first baseline;
  color: white;
  width: 100vw;

}

.App-header {
  background-color: #000000;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:first baseline;
  font-size: calc(18px + 2vmin);
  color: white;
  font-weight: bold;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

